[Unit]
Description=Etcd Server
After=network.target
After=network-online.target
Wants=network-online.target

[Service]
Type=notify
EnvironmentFile={{.}}/cfg/etcd.conf
ExecStart=/opt/etcd/bin/etcd \
--peer-cert-file={{.}}/ssl/server.pem \
--peer-key-file={{.}}/ssl/server-key.pem \
--peer-trusted-ca-file={{.}}/ssl/ca.pem
Restart=on-failure
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target