[Unit]
Description=Kubernetes API Server
Documentation=https://github.com/kubernetes/kubernetes

[Service]
EnvironmentFile=-{{.}}/cfg/kube-apiserver.conf
ExecStart=/opt/kubernetes/bin/kube-apiserver \$KUBE_LOG \$KUBE_LOG_VER \\
\$KUBE_ETCD_SERVER \$KUBE_ADDRESS \$KUBE_SECURE_PORT \$KUBE_ADVERTISE_ADDRESS \\
\$KUBE_PRIVILEGED \$KUBE_CLUSTER_IP_RANGE \$KUBE_ADMINSSION_PLUGINS \\
\$KUBE_AUTHORIZATION_MOD \$KUBE_BOOTSTRAP \$KUBE_TOKEN_AUTH_FILE \\
\$KUBE_SERVICE_NODE_PORT \$KUBE_TLS_CERT_FILE \$KUBE_TLS_PRIVATE_KEY \\
\$KUBE_CLIENT_CA_FILE \$KUBE_SERVICE_ACCOUNT_KEY \$KUBE_KUBELET_CLIENT_CERT \\
\$KUBE_KUBELET_CLIENT_KEY \$KUBE_ETCD_CA \$KUBE_ETCD_CERT \$KUBE_ETCD_KEY \$KUBE_KUBELET_HTTPS \\
\$KUBE_KUBELET_CERTIFICATE-AUTHORITY \$KUBE_PROXY_CLIENT_CERT \$KUBE_PROXY_CLIENT_KEY_FILE \\
\$KUBE_REQUEST_HEADER \$KUBE_REQUESTHEADER_CLIENT_CA_FILE \$KUBE_REQUESTHEADER_EXTRA_HEADERS_PREFIX \\
\$KUBE_REQUESTHEADER_GROUP_HEADERS \$KUBE_REQUESTHEADER_USERNAME_HEADERS \$KUBE_ENABLE_AGREGATOR-ROUTING
Restart=on-failure

[Install]
WantedBy=multi-user.target